#colortable {
	border: 1px solid black;
}

td {
	height: 100px;
	width: 100px;
	border: 1px solid black;
	background-color: grey;
}

tr {
	/*border: 1px solid black;*/
}

/*.offgrey {
	background-color:grey;
}*/

.onyellow {
	background-color: yellow;
}

p {
	font-family:Papyrus, Garamond;
	font-size:36px;
}

.off {
	display:none;
}